

@page "/microsoftoffice"

@{
    ViewData["Title"] = "list";
    Layout = "~/pages/Shared/_Layout.cshtml";
}

<main id="main">
    <!-- ======= Breadcrumbs ======= -->
    <div class="breadcrumbs" data-aos="fade-in">
        <div class="container">

            <ol>
                <li><a href="/index">Home</a></li>
                <li><a href="/courses">Courses</a></li>
                <li>Course Details</li>
            </ol>
            <h2>Microsoft Office</h2>

        </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Cource Details Section ======= -->
    <section id="course-details" class="course-details">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-8">
                    <section id="courses" class="courses pt-0">
                        <div class="col-lg-12 col-md-6 d-flex align-items-stretch">
                            <div class="course-item">
                                <img src="~/courses/office.webp" class="img-fluid" style="height:250px" alt="...">
                                <div class="course-content">

                                    <h3><a href="course-details.html">Microsoft Office</a></h3>
                                    <p>

                                        Microsoft Office is a popular office software suite which provides programs for functions
                                        including spreadsheets, word processing, database management, email and desktop publishing.
                                        Our range of Microsoft Office courses will show you how to get the best out of all the
                                        most vital office tools, including Word, PowerPoint, Access and more.
                                    </p>
                                </div>
                            </div>
                        </div> <!-- End Course Item-->

                    </section>
                </div>
                <div class="col-lg-4">

                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Course category</h5>
                        <p>Pending</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Microsoft Office</h5>
                        <p>Microsoft Office</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Course Fee</h5>
                        <p>---</p>
                    </div>
                    <div class="course-info d-flex justify-content-between align-items-center">
                        <h5>Syallbus</h5>
                        <!-- Syllabus Pending-->
                        <a href="~/syllabus/" download><i class="icofont-download"> Download</i></a>
                    </div>
                    <div class="text-center p-4 float-lg-right">
                        <a href="/applyonline" style="background-color:#5fcf80" class="btn btn-round apply-btn">Apply Now</a>

                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Cource Details Section -->
    <!-- ======= Cource Details Tabs Section ======= -->
    <section id="cource-details-tabs" class="cource-details-tabs">
        <div class="container" data-aos="fade-up">

            <div class="row">
                <div class="col-lg-3">
                    <ul class="nav nav-tabs flex-column">
                        <li class="nav-item">
                            <a class="nav-link active show" data-toggle="tab" href="#tab-1">Overview</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-2">Fee Structure</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#tab-3">Minimum qualifications</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-9 mt-4 mt-lg-0">
                    <div class="tab-content">
                        <div class="tab-pane active show" id="tab-1">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Microsoft Office</h3>
                                    <p class="font-italic">Microsoft Office, or simply Office, is a family of client software, server software, and services developed by Microsoft.</p>
                                    <p>
                                        Microsoft Office is a popular set of software programs from Microsoft that includes a word processor,
                                        a spreadsheet tool, a database program,
                                        an email utility and other productivity software commonly used in modern offices.
                                    </p>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/courses/office.webp" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-2">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Fee Structure</h3>
                                    <table class="table table-responsive table-hover table-striped  ">
                                        <tr>
                                            <td>Registration Fee</td>
                                            <td>---</td>
                                        </tr>
                                        <tr>
                                            <td>Tution Fee</td>
                                            <td>Rs ---</td>
                                        </tr>
                                        <tr>
                                            <td>Exam Fee</td>
                                            <td>---</td>
                                        </tr>
                                        <tr>
                                            <td>Total</td>
                                            <td>Rs ---</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/courses/office.webp" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane" id="tab-3">
                            <div class="row">
                                <div class="col-lg-8 details order-2 order-lg-1">
                                    <h3>Minimum qualifications</h3>
                                    <table class="table table-responsive table-hover table-striped  ">
                                        <tr>

                                            <td>--</td>

                                        </tr>
                                    </table>
                                </div>
                                <div class="col-lg-4 text-center order-1 order-lg-2">
                                    <img src="~/courses/office.webp" alt="" class="img-fluid">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Cource Details Tabs Section -->

</main><!-- End #main -->
