@page "/courses"

@{
    ViewData["Title"] = "list";
    Layout = "~/pages/Shared/_Layout.cshtml";
}

    <main id="main" data-aos="fade-in">

        <!-- ======= Breadcrumbs ======= -->
        <div class="breadcrumbs" data-aos="fade-in">
            <div class="container">

                <ol>
                    <li><a href="/index">Home</a></li>
                    <li>Courses</li>
                </ol>
                <h2>Courses</h2>

            </div>
        </div><!-- End Breadcrumbs -->
        <!-- ======= Courses Section ======= -->
        <section id="courses" class="courses">
            <div class="container" data-aos="fade-up">
                <div class="section-title">
                    <h2>Courses</h2>
                    <p>
                        InfoPark Computer Education offers various number of courses which include short-term courses, intermidiate courses,
                        advanced courses and on demand various professional courses.Students can choose one among the followed courses as per their requirement and need.
                    </p>
                </div>
                <div class="row" data-aos="zoom-in" data-aos-delay="100">

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                        <div class="course-item">
                            <img src="~/courses/course-1.jpg" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/webdevelopment"><h4>Android Development</h4></a>
                                </div>

                                <h3>Web Designing And Development</h3>
                                <p>
                                    InfoPark Computer Education is the one of the premier education institute in Srinagar
                                    and is providing the best quality education of Web designing
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
                        <div class="course-item">
                            <img src="~/courses/android.png" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/androiddevelopment"><h4>Android Development</h4></a>
                                </div>

                                <h3>Android App Development</h3>
                                <p>
                                    InfoPark Computer Education provides comprehensive training in Android App Development through quality
                                    standards for which this institution is known from over a decade.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->

                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/tally.png" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/tally"><h4>Tally</h4></a>
                                </div>

                                <h3>Tally ERP 9</h3>
                                <p>
                                    InfoPark Computer Education is the leading institute in certified tally course and is serving people from very long time.
                                    The jobs and recruitment feature puts tally certified professionals within reach of every business running tally.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/bcc.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/basiccomputercourse"><h4>Basic Computer Course</h4></a>

                                </div>

                                <h3>Basic Computer Course</h3>
                                <p>
                                    The programme can equip a person to use the computers in day-to-day life for professional and personal use.
                                    The objective of the course is to impart basic level computer appreciation programme with more emphasis on hands on training
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/ccc.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/courseoncomputerconcepts"><h4>Course on Computer Concepts</h4></a>
                                </div>

                                <h3>Course on Computer Concepts</h3>
                                <p>
                                    This course is designed to aim at imparting a basic level
                                    IT Literacy programme for the common man. This programme has essentially been
                                    conceived with an idea of giving an opportunity to the common man to attain computer
                                    literacy thereby contributing to increased and speedy PC
                                    penetration in different walks of life
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/office.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/microsoftoffice"><h4>Microsoft Office</h4></a>
                                </div>

                                <h3>Microsoft Office</h3>
                                <p>
                                    Microsoft Office is a popular office software suite which provides programs for functions
                                    including spreadsheets, word processing, database management, email and desktop publishing.
                                    Our range of Microsoft Office courses will show you how to get the best out of all the
                                    most vital office tools, including Word, PowerPoint, Access and more.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/Hardware-Networking.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/hardwarenetworking"><h4>PC Hardware and Networking</h4></a>
                                </div>

                                <h3>PC-Hardware and Networking</h3>
                                <p>
                                    This course offers a student,  with the necessary knowledge and skills required to make a successful entry into the Hardware  & Networking domain.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/c-prog.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/cprograming"><h4>C Programing</h4></a>
                                </div>

                                <h3>C programing</h3>
                                <p>
                                    This course will start with the fundamental programming concepts before digging deeper into the more advanced C++ topics.
                                </p>
                            </div>
                        </div>

                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/c-plus.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/cplusprogramming"><h4>Object Oriented Programming in C++</h4></a>
                                </div>

                                <h3>Object Oriented Programming in C++</h3>
                                <p>

                                    C++ is a general purpose programming language and widely used now a days for competitive programming.
                                    It has imperative, object-oriented and generic programming features
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/visual-basic.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/visualbasic"><h4>Visual Basic</h4></a>
                                </div>

                                <h3>Visual Basics</h3>
                                <p>

                                    The course will teach you how to build classes that define properties, methods, and events in VB.NET,
                                    as well as understand
                                    and use overloaded methods and operators and perform calculations.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/oracle.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/oracle"><h4>Oracle</h4></a>
                                </div>

                                <h3>Oracle</h3>
                                <p>
                                    Get trained and certified to become an expert on the world’s most widely-used Oracle products.
                                    Build skills that increase your productivity,
                                    catapult your career, and boost your earning potential
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/javaSE.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/javase"><h4>Java SE</h4></a>
                                </div>

                                <h3>Java SE</h3>
                                <p>
                                    This course will teach you how to read and write basic command line programs in Java,
                                    generate HTML based documentation (Javadoc) for code and
                                    how to use an Integrated Development Environment (Eclipse) to develop and debug programs
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/page-maker.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/pagemaker"><h4>PageMaker 7.0</h4></a>
                                </div>

                                <h3>PageMaker 7.0</h3>
                                <p>

                                    Adobe® PageMaker® 7.0 gives graphic designers, print professionals
                                    or production artists with the capability
                                    to make professional page layouts.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/photoshop.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/photoshop"><h4>PageMaker 7.0</h4></a>
                                </div>

                                <h3>Photoshop</h3>
                                <p>

                                    This software is extensively used for raster image editing,
                                    graphic design and digital art. It makes use of layering to allow for depth and flexibility in
                                    the design and editing process, as well as provide powerful editing tools,
                                    that when combined, are capable of just about anything.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/corldraw.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/coraldraw"><h4>CoralDRAW</h4></a>
                                </div>

                                <h3>Coral DRAW</h3>
                                <p>

                                    CorelDRAW Graphics Suite is a comprehensive graphic design studio for professionals.
                                    It is comprehensive vector-based drawing program that makes it easy to create professional artwork from simple logos to technical illustrations
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/vb.net.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/vbnet"><h4>Visual Basic.NET</h4></a>
                                </div>

                                <h3>Visual Basic .NET (VB.NET)</h3>
                                <p>

                                    Visual Basic .NET (VB.NET) is a Microsoft object-oriented programming (OOP) language.
                                    It evolved from Visual Basic 6 (VB6) to meet an increasing need for
                                    easy web-services and web development.VB.Net was designed
                                    to take advantage of the .NET framework-based
                                    classes and run-time environment.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/aspnet.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/aspnet"><h4>ASP.NET</h4></a>
                                </div>

                                <h3>ASP.NET</h3>
                                <p>

                                    ASP.NET is a unified web development model integrated with .NET framework, designed to provide
                                    services to create dynamic web applications and web services.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/c-sharp.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/csharp"><h4>C#</h4></a>
                                </div>

                                <h3>C#</h3>
                                <p>

                                    C# (C-Sharp) is a programming language developed by Microsoft that runs on the .NET Framework.

                                    C# is used to develop web apps, desktop apps, mobile apps, games and much more.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/soft-tech.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/softwaretechnology"><h4>Diploma in Software Technology</h4></a>
                                </div>

                                <h3>Diploma in Software Technology</h3>
                                <p>
                                    Students pursuing a Diploma in software Technology will learn the skills needed 
                                    to design software that is user-friendly, affordable, and easy to maintain. Students
                                    get a good foundation in computer programming and system design as part of their studies. 
                                    The principles of software development,
                                    testing, and maintenance are also included in the programme.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/sys-mngmnt.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/systemmangement"><h4>Diploma in System Management</h4></a>
                                </div>

                                <h3>Diploma in System Management</h3>
                                <p>
                                    This program develops critical thinking, managerial skills &stresses on the use
                                    of modern techniques to analyse
                                    and develop business solutions in the IT field.
                                    The courseware focuses on familiarising participants with the latest technology disrupting the current business scenarios.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                    <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
                        <div class="course-item">
                            <img src="~/courses/desktop-publishing.webp" class="img-fluid" alt="...">
                            <div class="course-content">
                                <div class="d-flex justify-content-between align-items-center mb-3">
                                    <a href="/desktoppublication"><h4>Diploma in Desktop Publication</h4></a>
                                </div>

                                <h3>Diploma in Desktop Publication</h3>
                                <p>
                                    Desktop Publishing is the process of using computer and specific type of 
                                    software to combine text and artwork to produce documents properly formatted for print,
                                    web or mobile devices such as newsletters, brochures, books, business cards, web pages, greeting cards,
                                    letterhead, packaging, etc. Desktop Publishing can encompass everything from
                                    initial designing to printing and delivery of finished product.
                                </p>
                            </div>
                        </div>
                    </div> <!-- End Course Item-->
                </div> <!-- End Course Item-->

                </div>

            </div>
        </section><!-- End Courses Section -->

    </main><!-- End #main -->
