@page "/faq"

@{
    ViewData["Title"] = "list";
    Layout = "~/pages/Shared/_Layout.cshtml";
}
<main id="main">

    <!-- ======= Breadcrumbs ======= -->
   <div class="breadcrumbs" data-aos="fade-in">
       <div class="container">

    <ol>
    <li><a href="/index">Home</a></li>
    <li>FAQ</li>
    </ol>
    <h2 >FAQ</h2>

    </div>
    </div><!-- End Breadcrumbs -->
    <!-- ======= Frequently Asked Questions Section ======= -->
    <section id="faq" class="faq faqq">
    <div class="container" data-aos="fade-up">

    <div class="section-title">
    <h2>Frequently Asked Questions</h2>
    </div>

    <ul class="faq-list" data-aos="fade-up">

    <li>
        <a data-toggle="collapse" class="collapsed" href="#faq1">Q1: What courses do you offer? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq1" class="collapse" data-parent=".faq-list">
        <p>
            A: We offer a range of courses including O-level, CCC, CCC plus, Tally ERP with GST, Graphic designing, Web designing and development, programming etc. Besides these we also offer coaching for IP 11th and 12th classes and also project guidance for BCA, MCA, B.sc IT, M.sc IT etc.
        </p>
    </div>
    </li>

    <li>
        <a data-toggle="collapse" href="#faq2" class="collapsed">Q2: Which software’s do you use? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq2" class="collapse" data-parent=".faq-list">
        <p>
            A: We always use the latest versions of software’s. currently we use windows 10, Office 2016 etc on our machines and we upgrade our hardware regularly as per the software requirements.
        </p>
    </div>
    </li>

    <li>
        <a data-toggle="collapse" href="#faq3" class="collapsed">Q3: Who is the certificate issuing authority? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq3" class="collapse" data-parent=".faq-list">
        <p>
            A: For a lot of courses like O-level, CCC, CCC plus NIELIT is the certificate issuing authority for other courses we issue our own certificates.
        </p>
    </div>
    </li>

    <li>
        <a data-toggle="collapse" href="#faq4" class="collapsed">Q4: Is your institute registered? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq4" class="collapse" data-parent=".faq-list">
        <p>
            A: Yes, our institute is accredited to NIELIT and it is also registered with MSME and also with labor department.
        </p>
    </div>
    </li>

    <li>
        <a data-toggle="collapse" href="#faq5" class="collapsed">Q5: What is the exam pattern? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq5" class="collapse" data-parent=".faq-list">
        <p>
            A: For all NIELIT certified courses the exam centers are notified by NIELIT and the exams are multiple choice based online exams and for our own certified courses same pattern is used.
        </p>
    </div>
    </li>

    <li>
        <a data-toggle="collapse" href="#faq6" class="collapsed">Q6: How long does it take for the issuance of certificate? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq6" class="collapse" data-parent=".faq-list">
        <p>
            A: NIELIT based certificates take time as those certificates are issued by them and the time period is usually between 2-3 months. However, we issue certificates for our own certified courses within a week after qualifying exams.
        </p>
    </div>
    </li> 
        <li>
            <a data-toggle="collapse" href="#faq7" class="collapsed">Q7: Which is the best course for beginners? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq7" class="collapse" data-parent=".faq-list">
        <p>
            A: We would suggest Diploma in Computer Applications (DCA)which has a duration of 6 months.
        </p>
    </div>
    </li>
    <li>
              <a data-toggle="collapse" href="#faq8" class="collapsed">Q8: Is there a specific time to register for a course? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq8" class="collapse" data-parent=".faq-list">
        <p>
            A: No, you can register anytime as per your wish.
        </p>
    </div>
    </li> 
    <li>
        <a data-toggle="collapse" href="#faq9" class="collapsed">Q9: What is the time duration of a class? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq9" class="collapse" data-parent=".faq-list">
        <p>
            A: For all certified courses the maximum class duration is one hour. However, for coaching the time duration may increase or decrease depending on the course and time period.
        </p>
    </div>
    </li> <li>
              <a data-toggle="collapse" href="#faq10" class="collapsed">Q10: What is the fee structure? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-x icon-close"></i></a>
    <div id="faq10" class="collapse" data-parent=".faq-list">
        <p>
            A: For that information please contact the office or visit personally.
        </p>
    </div>
    </li>

    </ul>

    </div>
    </section><!-- End Frequently Asked Questions Section -->
</main><!-- End #main -->
